* {
    margin: 0px;
    padding:0px;
    font-family: sans-serif;
    

}
/* headherka  */
header{
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0px 3px 10px rgb(8, 8, 8);
    position: relative;
}
header h1{
    color: rgb(23, 155, 215);
}
header nav {
    padding-right: 100px
    
}
header nav a{
    color: rgb(23, 155, 215);
    padding: 8px;
    text-decoration: none;

}
header nav .contect{
    background-color: rgb(23, 155, 215) ;
    color: beige;
    border-radius: 10px;
    
    padding: 5px 25px;
}

.aboutbg{
    height: 300px;
    background-image:linear-gradient(rgba(0, 162, 255, 0.699),rgba(0, 225, 255, 0.678)), url(images/aboutUsBg.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 20px 20px ;

}
.aboutbg h1{
    font-size: 100px;
    font-weight: bolder;
    color: white;
}
/* about sectiion */
 .aboutsection {
    display: flex;
    
    background-color:whitesmoke
    

 }
.aboutsection img{
    width: 50%;
    height: 360px;
    border-radius: 10px;
    margin: 20px;
}
.aboutsection .text img {
width: 64px;
height: 64px;
margin-left: -3px;

}
.aboutsection .text h1{
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.aboutsection .text p{
    font-size: large;

}
.aboutsection .text button {
    background-color: rgb(23, 155, 215);
    font-size: 20px;
    color: white;
    margin-left: 150px;
    padding: 3px 20px;
    
    border: 2px solid whitesmoke;
    border-radius: 5px;
    font-weight: bolder;
    margin-top: 15px;

}
/* servesection */
.setvesection .main img{
    width: 64px;
    height: 64px;
    padding-bottom: 10px;
}
.setvesection .main {
    display: flex;
    justify-content: center;
   
    
}
.setvesection .main div{
    border: 1px solid rgb(23, 155, 215);
    margin:10px;
    width: 300px;
    height: auto;
    padding: 10px 10px;
    border-radius: 8px;
}
.setvesection .main div p {
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: medium;
}
.setvesection .main div h3{ 
    font-size: 20px;
}
.setvesection >h1{
    text-align: center;
    margin-top: 30px;
    
}
.setvesection >p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.setvesection {
    padding-top: 20px;
}
/* expsection */
.expsection {
    background-color: rgb(23, 155, 215);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.expsection  img{
    width: 64px;
    height: 64px;
    padding: 10px;
    
     
}
.expsection > div {
    background-color: white;
    width: 220px;
    margin: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    border-radius: 5px;

}
.expsection .text >P {
    font-size: small;
}
/*costamer section   */
.custsection img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.custsection .divuguween {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    
    
    
}
.custsection .divuguween > div{
    margin: 10px;
    padding: 8px;
    width: 290px;
    height: 125px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.418);
}
.custsection .divuguween .imgname{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

}
.custsection > h1{
    margin-top: 0px;
    text-align: center;
    margin-bottom: 30px;


}
.custsection .divuguween p{
    margin-top: 6px;
    margin-bottom: 30px;
    font-size: 11px;
     
}
.custsection {
    height: 400px;
    background-image: url(images/lineB.jpg);
    background-position: center ;
    background-size: cover;
}


