* {
    margin: 0px;
    padding:0px;
    font-family: sans-serif;
    

}
/* headherka  */
header{
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0px 3px 10px rgb(8, 8, 8);
    position: relative;
}
header h1{
    color: rgb(23, 155, 215);
}
header nav {
    padding-right: 100px
    
}
header nav a{
    color: rgb(23, 155, 215);
    padding: 8px;
    text-decoration: none;

}
header nav .contect{
    background-color: rgb(23, 155, 215) ;
    color: beige;
    border-radius: 10px;
    padding: 5px 25px;
}
/* contect */
.contetsetion{
    height: 300px;
    background-image: linear-gradient(rgba(0, 153, 255, 0.541),rgba(0, 140, 255, 0.445)), url(images/contactBgImage.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 0px 0px 20px 20px ;
    justify-content: center;
    align-items: center;
    display: flex;
}
.contetsetion h1{
    font-size: 60px;
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
}
/* form div */
.comtectmaindiv{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;


}
.comtectmaindiv > div {
    width: 50%;
    height: 260px;
    padding: 20px;
    border:  2px solid rgb(23, 155, 215);
    border-radius: 10px;
}
.comtectmaindiv .formdiv input{
    width: 100%;
    height: 30px;
   
    padding-left: 10px;
    border:  2px solid rgb(23, 155, 215);
    margin-top: 5px;
    border-radius: 10px;

}
.comtectmaindiv .formdiv textarea{
    width: 100%;
    padding-left: 10px;
    height: 150px;
    border:  2px solid rgb(23, 155, 215);
    margin-top: 5px;
    border-radius: 10px;
}
.comtectmaindiv .formdiv button{
    width: 100%;
    height: 30px;
    border:  none;
    background-color: rgb(23, 155, 215);
    color: white;
    font-weight: bolder;
    margin-top: 5px;
    border-radius: 10px;
    

}

